modules = ["nodejs-20", "python-3.12", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Web Server"

[[workflows.workflow]]
name = "Start Web Server"
author = 41777580
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
