modules = ["nodejs-20", "python-3.12", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Full App"

[[workflows.workflow]]
name = "Start Web Server"
author = 41777580
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"

[[workflows.workflow]]
name = "Start Full App"
author = 41777580
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python backend_server.py"

[[ports]]
localPort = 5000
externalPort = 80
